body{
	width:1300px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.green{
	color:#090;
}
.he{
	height:300px;
}
.wi{
	width:300px;
}
.wi2{
	width:350px;
}
.lvkuang{
	backgurandcolor:#090;
	width:150px;
	height:40px;
}
